extends ./layout/index

block contenido
    main.container.mt-5 
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non quam vel dui placerat condimentum. Morbi nec magna posuere, tempor sem imperdiet, vulputate augue. Pellentesque viverra tincidunt ipsum ac imperdiet. Vestibulum congue nunc elit, at feugiat elit eleifend pharetra. Nam interdum pulvinar consectetur. 
                p Nam nec mi consequat, ultricies neque porttitor, porta dui. Quisque ac velit cursus, volutpat odio eu, gravida purus. Mauris ornare magna at nunc tristique congue. Vestibulum ex risus, dignissim eu sem vel, consectetur condimentum erat. Suspendisse augue massa, varius non nisi id, finibus bibendum sem. 
                p Nam ac nibh vitae tellus tincidunt bibendum. Aenean laoreet, lorem sed maximus tempus, nunc tortor dignissim diam, ut feugiat lorem purus cursus nunc. Integer faucibus nunc sem, id dapibus est laoreet id. Cras vel leo ac turpis maximus vehicula. Nullam gravida lorem ac lacus porttitor consectetur. 

    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Nam malesuada semper sapien, eget ullamcorper est semper eget. Aliquam erat volutpat. Curabitur non arcu dolor.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Más Destinos 
                    p Nam malesuada semper sapien, eget ullamcorper est semper eget. Aliquam erat volutpat. Curabitur non arcu dolor.

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios 
                    p Nam malesuada semper sapien, eget ullamcorper est semper eget. Aliquam erat volutpat. Curabitur non arcu dolor.

                